@charset "UTF-8";

body {
  margin: 0;
  background-color: #144060;
  font-family: Arial, Helvetica, sans-serif;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.sourceText {
	color: black;
  font-size: 10px;
  font-family: sans-serif;
}

.paraText {
	color: black;
  font-size: 20px;
  font-family: sans-serif;
}

.mainText {
	color: white;
  font-size: 30px;
  font-family: sans-serif;
}
.spacedText
{
	color: black;
  font-size: 30px;
  font-family: sans-serif;
  height: 30px;
}
.italics
{
  font-style: italic;
}

/*Text formatting*/

.productText {
	color: black;
  font-size: 30px;
  font-family: sans-serif;
}

.responsive {
  width: 75%;
  height: auto;
}
.responsiveText {
  width: 70%;
  height: auto;
}

.IndexButton {
  padding: 5px;
  background-color: #43aece;
  font-family: sans-serif;
  font-weight: bold;
}

.logo {
  display: block;
  width: 65px;
  height: 65px;
}
.logo img {
  display: block;
  width: 100%;
}

.centre {
  width: 50%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: rgb(229, 141, 46);
  vertical-align: center;
  align-content: center;
}


/* button formatting */

.button {
  border-radius: 10px;
  background-color: Transparent;
  border: none;
  color: 	#202020;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  width: 125px;
  transition: all 0.1s;
  cursor: pointer;
  margin-top: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2px;
  transition: 0.2s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
}


/*Text formatting*/
/* Header, not the button. This includes the buttons and formatting for the buttons*/

.header a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.header a:hover {
  background-color: #2c8c94;
  color: black;
  transition: 0.25s;
}

.header a.active {
  background-color: #2c8c94;
  color: black;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.big-text {
  font-size: 50px;
}

/* Animation for image changes starts here */

.animated-photo {
  opacity: 0;
  transition: opacity .5s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);

  will-change: opacity;
}


/* All parallax & background related code starts here */

.parallax {
  /* The image used */
  /* background-image: url("../media/Images/background.jpg"); /* references 1 folder outside the CSS folder */

  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
